.landing_page{
    background-color: #356AE6;    
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.land-body{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
}

.land-title{
    font-family: inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bolder;
    background-color: white;
    color: #356AE6;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20vh;
    margin-bottom: 5vh;
    transition: 0.4s;
    box-shadow: rgba(255, 255, 255, 0.24) 10px 10px;
}


.land-desc-adno{
    width: 50%;
    margin: 4vh 0 6vh 0;
}

.land-input-url{
    padding: 14px;
    border: 1px solid grey;
    border-radius: 4px;
    width: 60%;
    font-family: inter,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.land-input-url::selection{
    border: 2px solid red;
}

.land-btn-first-proj{
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #356AE6;
    font-family: inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    transition: 0.3s;
}

.landing-form{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.land-example-proj{
    position: absolute;
    padding: 15px;
    border: none;
    background-color: white;
    color: #356AE6;
    border-radius: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 5vh;
    right: 2vw;
    transition: 0.4s;
    transition: padding 0.5s, box-shadow 0.5s;
}

.land-import-proj{
    margin-top: 5vh;
    width: 50%;
}

.land-example-proj:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 8px 8px;
    padding: 20px;
}