.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
}

#projects_list{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 55vh;
}

.with_projects{
    display: flex;
    width: 100%;
}

.with_projects_left{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.with_projects_right{
    width: 65%;
    padding: 15px;
}

.with_projects_right #projects_list{
    width: 100%;
}

#import_2{
    margin-top: 5%;
}

.import_project_separator{
    text-align: center;
    margin: 5% 0 5% 0;
}


.picture-div{
    width: 85%;
    margin: 5vh auto 0 auto;
    height: 90%;
}

.project-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projet-page-title{
    text-align: center;
    margin: 4vh auto 4vh auto;
}

#container_with_projects{
    margin-top: 5vh;
}

.adno_container{
    width: 90vw;
    margin: auto;
}

.project-card:hover{
    border: 2px solid red;
}

@media (max-width: 1500px) {
    #projects_list{
        width: 80vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        height: 45vh;
    }

    #container_with_projects {
        margin-top: 2vh !important;
    }
}
