.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
}

#projects_list{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 35vh;
}


.with_projects{
    display: flex;
    width: 100%;
}

.with_projects_left{
    width: 50%;
}
.with_projects_right{
    width: 50%;
    padding: 15px;
}

.with_projects_right #projects_list{
    width: 100%;
}

.import_project_separator_without_projects{
    text-align: center;
    margin: 20px 0;
}

.picture-div{
    width: 85%;
    margin: 5vh auto 0 auto;
    height: 90%;
}

.project-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projet-page-title{
    text-align: center;
    margin: 4vh auto 4vh auto;
}

.adno_container_wp{
    width: 90vw;
    overflow: auto;
    margin: auto;
    height: 70vh;
}

#myFormWithoutProjects{
    display: flex;
    align-items: center;
    flex-direction: column;
}
