.adno-viewer-leftbar{
    width: 20vw;
    background-color: white;
    height: 71vh;
    position: absolute;
    top: 10vh;
    left: 5vw;
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.adno-viewer-leftbar .adno-nb-annos{
    color: #007bff;
}

.adno-viewer-rightbar{
    width: 65vw;
    height: 70vh;
    position: absolute;
    left: 30vw;
    top: 10vh;
}

.adno-viewer-rightbar-without-annos{
    width: 90vw;
    margin: 0 5vw;
    position: absolute;
    top: 10vh;
}

.openseadragon-container{
    /* height: 90% !important; */
}

.back-home-viewer{
    margin: 2% 0 0 8%;
}


#image_iiif{
    height: 750px;
}

#image_iiif_annotations #storyboard_viewer {
    padding-bottom: 0px !important;
}

#image_iiif_annotations #storyboard_viewer .seadragonbox {
    width: 100%;
    height: 700px;
    display: inline-block;
}

@media (min-width: 840px) and (max-width: 1440px) { 
    .adno-viewer-rightbar{
        top: 12vh;
        height: 470px !important;
        width: 70vw;
        left: 29vw;
    }

    .adno-viewer-leftbar{
        top: 12vh;
        height: 65vh;
        width: 25vw;
        left: 2vw;
    }

    #image_iiif{
        width: 960px !important;
        height: 450px !important;
        margin: auto;
    }

    .seadragonbox {
        width: 100% !important;
        height: 510px !important;
    }

    .adno-viewer-rightbar-without-annos #image_iiif{
        width: 1200px !important;
        height: 750px !important;
        margin: auto;
    }

    .adno-viewer-rightbar-without-annos .openseadragon-container{
        height: 95% !important;
    }
 }



@media (max-width: 840px) { 
    .adno-viewer-rightbar-without-annos #image_iiif{
        width: 600px !important;
        height: 750px !important;
        margin: auto;
    }
}